<button class="nav-btn visible-sm visible-xs">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
<%= tag('nav', class: "main-nav #{controller.controller_name}") %>
	<h1 class="sr-only">導覽列</h1>
	<div class="container">
		<ul class="nav-list">
			<%= nav_li '首頁', root_path %>
			<%= nav_li '活動總覽', activities_path %>
			<!-- <%= nav_li '最新消息', root_path %>
			<%= nav_li '關於我們', root_path %>
			<%= nav_li '加入我們', root_path %>
			<%= nav_li '贊助我們', root_path %>
			<%= nav_li '聯絡我們', root_path %>
			<%= nav_li '常見問答', root_path %> -->
		</ul>
	</div>
</nav>
