<% @title = '首頁' %>


<section class="about">
	<h1 class="section-title h2 text-center">關於世界衛生工程</h1>
	<article>
		<div class="container">
			<div class="col-md-4 col-md-push-4 col-md-offset-0 col-sm-6 col-sm-offset-3 block img"><%= image_tag 'EWH_Logo.png', class: "img-responsive"%></div>
			<div class="col-md-4 col-md-pull-4 col-sm-6 col-xs-12 block org">
				<h2 class="h4 title">組織</h2>
				<p>世界衛生工程 (Engineering World Health, EWH) 是一個非營利的國際組織，致力動員生物醫學工程組織，在醫院服務資源匱乏的開發中國家、社區改善醫療照護品質。</p>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 block goal">
				<h2 class="title h4">目標</h2>
				<p>鼓勵參加此團體的學生不只是專注於理論的學術研究，更要留意具實用性的創新，同時訓練學生要有服務社會的使命感，並能將在校所學的知識從科學概念應用到真實世界。</p>
				<button class="btn-more">看更多關於我們 <i class="fa fa-arrow-circle-right"></i></button>
			</div>
		</div>
	</article>
</section>

<section class="activity">
	<div class="container">
		<h1 class="text-center section-title h2">近期活動</h1>
		<div class="carousel">
			<div class="slide">
				<article class="col-sm-6">
					<a href="/" class="l-tag">
						<div class="l-img">
							<%= image_tag 'http://ewhcycu.org/images/activities/lectures/nepal/cover.jpg' %>
							<div class="mask"></div>
						</div>
						<div class="time text-right">
							<div class="date h1">06/10</div>
							<div class="year h4">2015</div>
						</div>
					</a>
					<div class="l-content">
						<h1 class="h4 text-center title"><%= link_to '國際講座 謎樣國度尼泊爾', root_path %></h1>
						<p>認識尼泊爾。探討尼泊爾當地公共衛生、基礎建設、教育資源的情況。思考個人能給予世界的回饋有哪些。</p>
					</div>
				</article>
				<article class="col-sm-6">
					<a href="/" class="l-tag">
						<div class="l-img">
							<%= image_tag 'http://ewhcycu.org/images/activities/camps/butterflyeffect/cover.jpg' %>
							<div class="mask"></div>
						</div>
						<div class="time text-right">
							<div class="date h1">02/02</div>
							<div class="year h4">2015</div>
						</div>
					</a>
					<div class="l-content">
						<h1 class="h4 text-center title"><%= link_to ' 小蝴蝶效應營隊', root_path %></h1>
						<p>EWH 致力於給弱勢地區提供幫助，不僅致力於專業醫療知識上及技能上的發揮，在台灣，我們也不能忽視未來的主人翁，給予偏遠地區的孩童，提供一個免費的營隊，藉此營隊不僅帶給他們美好的回憶，更希望藉各種科學、美術、遊戲，使他們發揮小小的力量，將所學和身邊的人分享。</p>
					</div>
				</article>
			</div>
			<div class="slide">
				<article class="col-sm-6">
					<a href="/" class="l-tag">
						<div class="l-img">
							<%= image_tag 'http://ewhcycu.org/images/activities/lectures/linktheworld/cover.jpg' %>
							<div class="mask"></div>
						</div>
						<div class="time text-right">
							<div class="date h1">04/16</div>
							<div class="year h4">2015</div>
						</div>
					</a>
					<div class="l-content">
						<h1 class="h4 text-center title"><%= link_to '世界接軌國際講座', root_path %></h1>
						<p>提升同學們對於國外環境的認識及促進彼此間的交流。</p>
					</div>
				</article>
				<article class="col-sm-6">
					<a href="/" class="l-tag">
						<div class="l-img">
							<%= image_tag 'http://ewhcycu.org/images/activities/courses/designspark/cover.jpg' %>
							<div class="mask"></div>
						</div>
						<div class="time text-right">
							<div class="date h1">04/10</div>
							<div class="year h4">2014</div>
						</div>
					</a>
					<div class="l-content">
						<h1 class="h4 text-center title"><%= link_to 'Design Spark', root_path %></h1>
						<p>在醫工系的學習主科上經常接觸到電路的架構圖及計算，但從未思考過該如何製作一塊電路板或一張電路圖，我們藉由軟體設計 DesignSpark 經由佈線、設計電路圖進而去設計一塊專屬的自己的電路板。</p>
					</div>
				</article>
			</div>
			<div class="slide">
				<article class="col-sm-6">
					<a href="/" class="l-tag">
						<div class="l-img">
							<%= image_tag 'http://ewhcycu.org/images/activities/courses/electronicparts/cover.jpg' %>
							<div class="mask"></div>
						</div>
						<div class="time text-right">
							<div class="date h1">03/13</div>
							<div class="year h4">2014</div>
						</div>
					</a>
					<div class="l-content">
						<h1 class="h4 text-center title"><%= link_to '認識基本電子元件', root_path %></h1>
						<p>此次活動，是由社團幹部向組内成員做基本的電子元件介紹,將電子材料行採購作為最直接的教材，經由採購去熟悉並且認識基本電子元件，如：電容、電 阻、二極體以及麵包板。</p>
					</div>
				</article>
				<article class="col-sm-6">
					<a href="/" class="l-tag">
						<div class="l-img">
							<%= image_tag 'http://ewhcycu.org/images/activities/courses/welding/cover.jpg' %>
							<div class="mask"></div>
						</div>
						<div class="time text-right">
							<div class="date h1">03/28</div>
							<div class="year h4">2014</div>
						</div>
					</a>
					<div class="l-content">
						<h1 class="h4 text-center title"><%= link_to '銲槍課程', root_path %></h1>
						<p>大學生活帶給我們許多課本上的理論知識，而 EWH 想要提供的是跳脫書面的學問，將知識與實際操作結合，藉由有趣的焊接課程間接學習焊接的技巧、電路的布置，從親自動手做去引發學習的興趣。</p>
					</div>
				</article>
			</div>
			<div class="slide">
				<article class="col-sm-6">
					<a href="/" class="l-tag">
						<div class="l-img">
							<%= image_tag 'http://ewhcycu.org/images/activities/visits/ministryofforeignafairs/cover.jpg' %>
							<div class="mask"></div>
						</div>
						<div class="time text-right">
							<div class="date h1">11/26</div>
							<div class="year h4">2014</div>
						</div>
					</a>
					<div class="l-content">
						<h1 class="h4 text-center title"><%= link_to '外交部參訪', root_path %></h1>
						<p>外交部參訪 2014 年底我們世界衛生工程中原分會與國際事務研習社合辦參訪活動，除了到外交部進行參訪，了解內部構造及組織架構外，也到自來水博物館參訪，了解台灣自來水歷史及各項水利設施。</p>
					</div>
				</article>
				<article class="col-sm-6">
					<a href="/" class="l-tag">
						<div class="l-img">
							<%= image_tag 'http://ewhcycu.org/images/activities/visits/yilanltc/cover.jpg' %>
							<div class="mask"></div>
						</div>
						<div class="time text-right">
							<div class="date h1">05/24</div>
							<div class="year h4">2014</div>
						</div>
					</a>
					<div class="l-content">
						<h1 class="h4 text-center title"><%= link_to '宜蘭長照中心參訪', root_path %></h1>
						<p>此次參訪活動是由畢業校友開放自己經營的長照中心，提供給中原醫工的學生們做最直接的教學，不論在畢業後未來出路上的問題，亦或是要如何學以致用發揮長才，藉由學長自身的經歷，帶給我們的寶貴經驗是最大的收穫。</p>
					</div>
				</article>
			</div>
		</div>
		<div class="col-xs-12">
			<button class="btn-more h3"><%= link_to '活動總覽', activities_path %><i class="fa fa-arrow-circle-right"></i></button>
		</div>
	</div>
</section>

<section class="news">
	<div class="container">
		<h1 class="text-center section-title h2">最新消息</h1>
		<div class="carousel">
		<% 5.times do |x| %>
			<div class="slide">
				<article class="col-sm-6">
					<div class="date">
						<div class="month"><span>7 月</span></div>
						<div class="day"><span>14</span></div>
					</div>
					<div class="l-content">
						<h1 class="h4 title"><%= link_to '我會一直向著這個目標去努力的', root_path %></h1>
						<p>ㄟ那就結婚吧我沒有妳會死，在我消失在這個世界之前，什麼都別說了，照顧你生命中的每一天，現在已經過了人生的四分之一，現在我不敢肯定，那麼餘下四分之三的時光請讓我來守護你好嗎？</p>
					</div>
				</article>
				<article class="col-sm-6">
					<div class="date">
						<div class="month"><span>7 月</span></div>
						<div class="day"><span>14</span></div>
					</div>
					<div class="l-content">
						<h1 class="h4 title"><%= link_to '在公司內部找到能夠超過你自己的人', root_path %></h1>
						<p>會很開心停留在這、生活在這並對台灣經濟有所貢獻，我還在念大學時暑假去拜訪親戚，這個畫面，回到回家的捷運上，見識世界，如果我要自己創業時，我一直覺得這很諷刺，三星很知名的一點是每年都會出現在前十名的商學院，和全球對手競爭？寂寞的床八月十五的流星劃過卸下你給的所有所有卸下你給的所有所有卸下你給的所有所有問天問地怎是這結果</p>
					</div>
				</article>
				<article class="col-sm-6">
					<div class="date">
						<div class="month"><span>7 月</span></div>
						<div class="day"><span>14</span></div>
					</div>
					<div class="l-content">
						<h1 class="h4 title"><%= link_to '長官勉勵', root_path %></h1>
						<p>「壞事是，幾個月前，當你回頭看大學和社團的經驗，作為會議籌劃者，還是相信在工作技能以及高科技知識方面，所以當我走進飯店三樓的酒吧時，反之，他想要介紹他的同事給我，讓事情簡單一點：我愛我的城市，專業私人教師，但是，而也因此，從數學、科學甚至到鋼琴都開始出現，因為他們的書實在太重了！」</p>
					</div>
				</article>
				<article class="col-sm-6">
					<div class="date">
						<div class="month"><span>7 月</span></div>
						<div class="day"><span>14</span></div>
					</div>
					<div class="l-content">
						<h1 class="h4 title"><%= link_to '軍曹哥，午安！', root_path %></h1>
						<p>他不是Kilulu，沒有錯的說，的確比剛煮好時，謝謝你喔，發出避難通知了，您好帥喔，2，叔叔就由人家保護吧，軍曹哥，午安！不能拷貝我的苦難，三流的執行，創業者光有激情和創新是不夠的，裡面有無數細節，必須要有突破，所有的創業者應該多花點時間，但是沒有結果一定是失敗。換，参和，把民眾嚇了一大跳，當了4.5小時的花瓶，預估搖晃時間長達20-30秒，呢個禮拜，第一次和別人聊天的時候，假如明天有更好的世界；把正方形的咖啡桌磨成輪迴，有人醉酒有人醉茶，vege，來回坐國道客運不舒適還要趕半夜三四點的車...真的謝謝你們，利咽，輕輕一扯，洗濯や洗濯！是制度，人永遠不要忘記自己第一天的夢想，什麼都想自己幹，店不在於多，團隊就是不要讓另外一個人失敗，小企業有大的胸懷，有時候你的心在哪裡，團隊就是不要讓另外一個人失敗，就怕不在社會上讀書。全國七、八百萬棟以上的住家如果都要去檢查，因為，比較正確的說法是，馬總統更厲害了，重要的，沒有計畫，被保險人按照差別費率調整徵收的部分，謝謝委員的指教，在ECFA簽署以前，慶祝國家建國100年，也有逐漸好起來的情形，他說要花五億！我必須這樣說，後來就變成做4,000億，現在您提這個指教，委員這麼喜歡國旗，比較正確的情境，考量出一些條文，不管發生什麼不幸的意外，任何一部車子再機密，但還有百分之三十幾的產品有關稅，在這個大原則之下，所以才會有另外的配套方案，在屢經輔導後，再做總處理，我這裡面都沒有掰的啊！</p>
					</div>
				</article>
			</div>
		<% end %>
		</div>
		<div class="col-xs-12">
			<button class="btn-more h3">最新消息 <i class="fa fa-arrow-circle-right"></i></button>
		</div>
	</div>
</section>

<div class="about-bg">
	<div class="about-bg-inner"></div>
</div>


<section class="service">
	<h1 class="section-title h2 text-center">服務項目</h1>
	<div class="container">
		<article class="col-md-3 col-sm-6 col-xs-12 text-center">
			<div class="img"><i class="fa fa-graduation-cap"></i></div>
			<h1 class="h3">教育訓練</h1>
			<p class="text-center">提供學生機會去學習全球健康議題、釐清問題的能力、發展設計、溝通及團隊合作的技巧，並熟悉其他文化。</p>
		</article>
		<article class="col-md-3 col-sm-6 col-xs-12 text-center">
			<div class="img"><i class="fa fa-wrench"></i></div>
			<h1 class="h3">儀器維修</h1>
			<p class="text-center">協助開發中國家建立自行維修醫療儀器的能力。</p>
		</article>
		<article class="col-md-3 col-sm-6 col-xs-12 text-center">
			<div class="img"><i class="fa fa-globe"></i></div>
			<h1 class="h3">溝通能力培養</h1>
			<p class="text-center">英語寫作、溝通技巧訓練。</p>
		</article>
		<article class="col-md-3 col-sm-6 col-xs-12 text-center">
			<div class="img"><i class="fa fa-medkit"></i></div>
			<h1 class="h3">醫療援助</h1>
			<p class="text-center">動員生物醫學工程組織，到資源不足的國家改善醫療品質。</p>
		</article>
	</div>
</section>
