<!DOCTYPE html>
<html>
<head itemscope="itemscope" itemtype="http://schema.org/Organization">
	<title><%= content_for?(:page_title) ? "#{ yield :page_title } | 世界衛生工程" : "世界衛生工程" %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>
<%= render 'shared/navbar' %>

<div class="main">
	<%= yield %>
	<button class="btn  totop"><i class="fa fa-chevron-up"></i></button>
</div>

<%= render 'shared/footer' %>


<script>
$(document).ready(function() {

	$(".carousel").owlCarousel({
		//autoPlay : 3000,
		navigation : true, // Show next and prev buttons
		slideSpeed : 300,
		paginationSpeed : 400,
		singleItem:true

	});

	$('.owl-next').html('<i class="fa fa-chevron-right"></i>');
	$('.owl-prev').html('<i class="fa fa-chevron-left"></i>');


});
</script>
</body>
</html>
