<!DOCTYPE html>
<html>
<head>
	<title><%= page_title %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'shared/header' %>
<%= render 'shared/navbar' %>

<div class="main">
	<%= yield %>
	<button class="btn totop"><i class="fa fa-chevron-up"></i></button>
</div>

<%= render 'shared/footer' %>


<script>
$(document).ready(function() {

	$(".carousel").owlCarousel({
		//autoPlay : 3000,
		navigation : true, // Show next and prev buttons
		slideSpeed : 300,
		paginationSpeed : 400,
		singleItem:true

	});

	$('.owl-next').html('<i class="fa fa-chevron-right"></i>');
	$('.owl-prev').html('<i class="fa fa-chevron-left"></i>');


});
</script>
</body>
</html>
